body {
  font-family: Nunito Sans;
  height: 100%;
  background-color: rgb(54, 51, 51);
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1263px;
  margin: 0px auto;
}

.header__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header__logo img {
  height: 100px;
  width: 100px;
}

.header__title {
  font-size: 72px;
  color: bisque;
  font-family: cursive;

}

.main {}

.content {
  display: flex;
  flex-direction: column;

}

.field {}

.field__header {
  color: beige;
  font-size: 42px;
}

.field__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tasks {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: rgba(92, 86, 98, 0.149);
  max-width: fit-content;
  max-height: 100%;
  margin: 10px 0px;
}

.tasks__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  text-align: center;
  padding: 15px;

}

.tasks__item li {

  display: inline-block;
}


.tasks__item {
  color: beige;
  font-size: 25px;
}

.empty {}

.tasks__icon_empty img {
  height: 50px;
  width: 50px;
}


.tasks__title_empty {
  font-size: 25px;
  color: beige;
  margin-top: 20px;

}