@import "https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap";
@media (max-width: 576px) {
  .field-header {
    font-size: 20px;
  }
  .field-button {
    display: flex;
    justify-content: center;
  }
  .field-text {
    font-size: 7px !important;
  }
  .header-title {
    font-size: 35px !important;
  }
  .header-logo img {
    height: 45px !important;
    width: 45px !important;
  }
  .tasks-done {
    display: flex;
    justify-content: center;
  }
  .tasks-delete {
    display: flex;
    justify-content: center;
  }
  .tasks-title {
    font-size: 15px;
    padding-top: 5px;
  }
}
@media (max-width: 768px) {
  .field-button {
    display: flex;
    justify-content: center;
  }
  .field-text {
    font-size: 10px;
    align-items: center;
    padding-top: 10px;
  }
  .header-title {
    font-size: 45px;
  }
  .header-logo img {
    height: 75px;
    width: 75px;
  }
  .tasks-done {
    display: flex;
    justify-content: center;
  }
  .tasks-delete {
    display: flex;
    justify-content: center;
  }
  .tasks-edit {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 415px) {
  .field-button {
    max-width: 75px !important;
  }
  .field-button span {
    display: none;
  }
}
body {
  font-family: Nunito Sans;
  height: 100%;
  background-color: rgb(54, 51, 51);
  color: beige;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-logo img {
  height: 100px;
  width: 100px;
}

.header-title {
  font-size: 72px;
  color: beige;
}

.field-header {
  font-size: 32px;
}

.field-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tasks {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 10px 0px;
}

.tasks-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 15px;
}

.tasks-item {
  color: beige;
  font-size: 25px;
}
.tasks-item li {
  margin-top: 5px;
  display: inline-block;
}

.none {
  display: none;
}

.tasks-icon_empty img {
  height: 50px;
  width: 50px;
}

.tasks-title_empty {
  font-size: 25px;
  color: beige;
  margin-top: 20px;
  text-align: center;
}

.tasks-done {
  cursor: pointer;
  border-radius: 15px;
  background-color: rgba(52, 42, 42, 0.8901960784);
}
.tasks-done img {
  pointer-events: none;
}
.tasks-done:hover {
  background: linear-gradient(21deg, #7a317c, #53388c);
}

.tasks-delete {
  cursor: pointer;
  border-radius: 15px;
  background-color: rgba(52, 42, 42, 0.8901960784);
}
.tasks-delete img {
  pointer-events: none;
}
.tasks-delete:hover {
  background: linear-gradient(21deg, #7a317c, #53388c);
}

.tasks-edit {
  cursor: pointer;
  border-radius: 15px;
  background-color: rgba(52, 42, 42, 0.8901960784);
}
.tasks-edit img {
  pointer-events: none;
}
.tasks-edit:hover {
  background: linear-gradient(21deg, #7a317c, #53388c);
}

.done {
  color: rgba(206, 158, 100, 0.29);
  text-decoration: line-through;
}

.field-input {
  background-color: rgba(119, 110, 126, 0.822);
  color: beige;
  font-family: inherit;
  height: 35px;
  border: 0.5px solid rgba(119, 110, 126, 0.822);
  border-radius: 15px;
}

::placeholder {
  color: beige;
}

.field-button {
  cursor: pointer;
  border-radius: 16px;
  background-color: rgba(171, 99, 238, 0.508);
  color: beige;
  font-size: 22px;
  font-family: inherit;
}
.field-button:hover {
  background: linear-gradient(21deg, #7a317c, #53388c);
}

#task-input {
  cursor: pointer;
  background-color: rgb(54, 51, 51);
  font-size: 25px;
  border-radius: 15px;
}

.tasks-title {
  color: beige;
}

/*# sourceMappingURL=main.css.map */
